<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkforum.talkforumserver.post.PostMapper">
    <select id="getPost" resultType="com.talkforum.talkforumserver.common.entity.Post">
        SELECT * FROM post WHERE id = #{postId}
    </select>

    <select id="getPosts" resultType="com.talkforum.talkforumserver.common.vo.PostVO">
        SELECT
        id, title, brief, user_id,
        club_id, status, is_essence, created_at,
        view_count, like_count, comment_count
        FROM post
        <where>
            status = 'PASS'
            <if test="clubId != null">AND club_id = #{clubId}</if>
            <if test="cursor != null">AND id &lt; #{cursor}</if>
        </where>
        ORDER BY id DESC <!-- 按id降序，id越大越新 -->
        LIMIT #{pageSize} <!-- 建议参数名改为pageSize（更规范） -->
    </select>

    <insert id="addPost" useGeneratedKeys="true" keyProperty="postCommitDTO.id" keyColumn="id">
        INSERT INTO post (
            title, content, user_id, club_id, status, brief
        ) VALUES (
            #{postCommitDTO.title}, #{postCommitDTO.content}, #{postCommitDTO.userId}, #{postCommitDTO.clubId}, #{status}, #{brief}
        )
    </insert>

    <update id="updatePost">
        UPDATE post
        <set>
            <if test="title != null">title = #{title},</if>
            <if test="content != null">content = #{content},</if>
            <if test="status != null">status = #{status},</if>
            <if test="isEssence != null">is_essence = #{isEssence},</if>
            updated_at = NOW(),
            brief = #{brief}
        </set>
        WHERE id = #{id}
    </update>

    <update id="deletePost">
        UPDATE post SET status = 'DELETED' WHERE post_id = #{postId}
    </update>

    <update id="auditPost">
        UPDATE post SET status = 'PASS', updated_at = NOW() WHERE id = #{postId}
    </update>

    <update id="essencePost">
        UPDATE post SET is_essence = #{isEssence}, updated_at = NOW() WHERE id = #{postId}
    </update>
</mapper>
