<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkforum.talkforumserver.invitecode.InviteCodeMapper">

    <insert id="insert" parameterType="com.talkforum.talkforumserver.common.entity.InviteCode">
        INSERT INTO invite_code (
            code, creator_id, created_at, expired_at, max_count, used_count
        ) VALUES (
            #{code}, #{creatorId}, #{createdAt}, #{expiredAt}, #{maxCount}, #{usedCount}
        )
    </insert>

    <select id="selectByCode" parameterType="String" resultType="com.talkforum.talkforumserver.common.entity.InviteCode">
        SELECT 
            code, creator_id, created_at,
            expired_at, max_count, used_count
        FROM invite_code
        WHERE code = #{code}
    </select>

    <update id="updateUsedCount" parameterType="String">
        UPDATE invite_code
        SET used_count = used_count + 1
        WHERE code = #{code}
    </update>

    <select id="selectByCreatorId" parameterType="Long" resultType="com.talkforum.talkforumserver.common.entity.InviteCode">
        SELECT 
            code, creator_id, created_at,
            expired_at, max_count, used_count
        FROM invite_code
        WHERE creator_id = #{creatorId}
    </select>

    <delete id="deleteByCode" parameterType="String">
        DELETE FROM invite_code WHERE code = #{code}
    </delete>

<!-- 处理特殊字符，我记住了-->
    <select id="checkInviteCodeValid" resultType="int">
    <![CDATA[
        SELECT COUNT(*) FROM invite_code 
        WHERE code = #{code} 
          AND expired_at > NOW() 
          AND used_count < max_count
    ]]>
    </select>

    <select id="adminGetInviteCodes" resultType="com.talkforum.talkforumserver.common.entity.InviteCode">
        <bind name="offset" value="(page-1)*pageSize"></bind>
        SELECT
            code, creator_id, created_at,
            expired_at, max_count, used_count
        FROM invite_code
        LIMIT #{offset}, #{pageSize}
    </select>
</mapper>
