.post-dialog-content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* gap: 16px; */
    /* 保持输入框和文本域之间的间距 */
}

/* 主体内容样式 */
.post-dialog-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid var(--neutral-border);
    border-radius: 8px;
    font-size: 16px;
    color: var(--neutral-text-main);
    background-color: var(--neutral-module);
}

.post-dialog-textarea {
    flex: 1;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--neutral-border);
    border-radius: 8px;
    font-size: 16px;
    resize: none;
    color: var(--neutral-text-main);
    background-color: var(--neutral-module);
    overflow-y: auto;
    /* 内容过长时显示垂直滚动条 */
    min-height: 0;
    /* 解决flex子元素最小高度问题 */
}




/* 工具条内容样式 */
.post-dialog-toolbox-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
}

/* 底部左侧选择俱乐部按钮样式 */
.post-dialog-select-club {
    padding: 8px 16px;
    border: 1px solid var(--neutral-border);
    border-radius: 8px;
    background-color: transparent;
    color: var(--neutral-text-main);
    display: flex;
    align-items: center;
    cursor: pointer;
}

.post-dialog-select-club svg {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}

/* 焦点状态 */
.post-dialog-input:focus,
.post-dialog-textarea:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px rgba(45, 91, 255, 0.2);
}