.info-container {
    position: absolute;
    width: 90%;
    height: 81%;
    padding: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
    max-width: 800px;
    max-height: 250px;
    color: var(--neutral-module);
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: 9px;
    overflow: hidden;
}
.info-container .info {
    display: flex;
    height: 90px;
}

.info button.info-interact-button {
    position: absolute;
    display: block;
    top: 5px;
    right: 5px;
    width: 65px;
    height: 32px;
    line-height: 32px;
    border: 0;
    border-radius: 18px;
    background-color: var(--primary);
    color: var(--neutral-bg);
}

.info button.info-interact-button.followed {
    background-color: var(--neutral-bg);
    color: var(--primary);
}

.info img {
    display: block;
    margin: 0;
    padding: 0;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color:  var(--neutral-bg);
}
.info .info-combo {
    padding-left: 9px;
    width: calc(100% - 90px);
}

.info .info-combo h4 {
    font-size: larger;
}


.info .info-combo span {
    display: inline-block;
    padding: 3px;
    border-radius: 18px;
    color: var(--neutral-bg);
    font-size: medium;
}



.info .info-combo p, .info-container .intro {
    font-size: large;
}

.info-container .intro {
    padding-top: 9px;
    height: calc(100% - 90px);
}


@media screen and (min-width: 600px) {
    .info-container {
        max-width: 800px;
        max-height: 300px;
    }

    .info-container .info {
        height: 150px;
    }

    .info img {
        width: 150px;
        height: 150px;
    }
    .info .info-combo {
        width: calc(100% - 150px);
        height: 150px;
    }

    .info-container .intro {
        padding-top: 9px;
        height: calc(100% - 150px);
    }
}

