.post-view-cover {
  z-index: 1024;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  overflow-y: auto;
}

.post-view-cover .comment-input {
  position: fixed;
  display: flex;
  z-index: 1025;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  align-items: center;
  padding: 9px;
  width: 100%;
  min-height: 55px;
  max-width: 800px;
  background-color: var(--neutral-module);
  border: 1px solid var(--neutral-border);
  border-radius: 18px;
}

.post-view-cover .comment-input .comment-reply-show>svg {
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
}


.post-view-cover .comment-input .comment-reply-show {
  position: absolute;
  top: -41px;
  left: 0;
  width: 100%;
  height: 40px;
  border: 1px solid var(--neutral-border);
  border-radius: 18px;
  background-color: var(--neutral-module);
}

.post-view-cover .comment-input .comment-reply-show p {
  display: flex;
  padding: 9px;
  width: 90%;
  height: 40px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--neutral-text-secondary);
}

.post-view-cover .comment-input .comment-reply-show p span:first-child {
  padding-right: 5px;
  font-style: italic;
}

.post-view-cover .comment-input textarea {
  flex: 1;
  display: block;
  height: 55px;
  padding: 5px;
  text-indent: 5px;
  background-color: var(--neutral-bg);
  border: 0;
  border-radius: 18px;
  outline: none;
  resize: none;
  transition: height 0.5s ease;
}

.post-view-cover .comment-input textarea:focus {
  height: 128px;
}

.post-view-cover .comment-input button {
  display: block;
  margin-left: 5px;
  width: 50px;
  height: 40px;
  border: 0;
  border-radius: 18px;
  color: var(--neutral-module);
  background-color: var(--primary);
}

.post-view-cover .title {
  position: fixed;
  z-index: 1025;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  /* color: var(--neutral-module); */
  background-color: var(--primary);
  font-weight: bold;
  user-select: none;
}

.post-view-cover .title svg {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 9px;
  transform: translateY(-50%);
  color: var(--neutral-text-secondary);
}