.profile-dialog-container {
    width: 100%;
    height: 100%;
    /* overflow-y: auto; */
}

.profile-dialog-container .background-view {
    position: relative;
    width: 100%;
    height: 260px;
}

.background-view img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 18px;
    background-color: var(--neutral-bg);
}

.background-view .info-card {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 90%;
    height: 150px;
    top: 50%;
    left: 50%;
    padding: 9px;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, .1);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    border-radius: 18px;
}


.background-view .info-card img {
    display: block;
    margin: auto 0;
    width: auto;
    height: 80%;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    background-color: var(--neutral-bg);
}


.background-view .info-card .combination {
    flex: 1;
    padding-left: 9px;
}


.background-view .info-card .combination h4 {
    font-size: larger;
}


.background-view .info-card .combination span {
    display: inline-block;
    padding: 3px;
    border-radius: 18px;
    color: var(--neutral-bg);
    font-size: medium;
}




.profile-dialog-container>p, .profile-dialog-container>h2 {
    height: 45px;
    line-height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.profile-dialog-container>p {
    min-height: 45px;
    height: fit-content;
    display: flex;
}

.profile-dialog-container>p>label {
    width: 100px;
    height: 100%;
    /* text-align: center; */
}

.profile-dialog-container>p>input {
    display: block;
    flex: 1;
}

.profile-dialog-container input, .profile-dialog-container textarea {
    /* margin: 0 3px; */
    padding: 9px;
    border: none;
    border-radius: 9px;
    background-color: var(--neutral-bg);
    color: var(--neutral-text-main);
    border: 1px solid var(--neutral-border);
    outline: none;
    width: 300px;
    text-align: left;
}

.profile-dialog-container textarea {
    margin: 0 auto;
    width: 96%;
    height: 100px;
    text-align: left;
    resize: none;
}

.profile-dialog-container>p>span {
    font-weight: bold;
    min-width: 120px;
}




.profile-dialog-container input:disabled, textarea:disabled {
    background-color: var(--neutral-text-secondary);
}



.profile-dialog-container input:focus,
.profile-dialog-container textarea:focus {
    outline: none;
    border-color: var(--primary);
    box-shadow: 0 0 0 2px var(--neutral-shadow);
}


.profile-dialog-container button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}