.user-info-small {
    position: relative;
    display: flex;
    min-width: 50px;
    height: 100%;
    font-weight: normal;
}

.user-info-small span {
    display: flex;
    max-width: 90px;
    /* width: 100%; */
    height: 100%;
    user-select: none;
    align-items: center;
}

.user-info-small button.login-button {
    background-color: var(--secondary-warm-1);
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    margin: auto 0;
    outline: none;
    font: inherit;
}


/* Base styles */
.user-info-small .img-t {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.user-info-small .img-t img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color:  var(--neutral-bg);
}

.user-info-small:hover .menu {
    display: block;
    height: fit-content;
}

.user-info-small .menu {
    display: none;
    position: absolute;
    right: 9px;
    top: 90%;
    width: 100%;
    min-width: 150px;
    height: 0;
    background-color: var(--neutral-bg);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--neutral-shadow);
}

.user-info-small .menu li {
    display: block;
    width: 100%;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 5px;
    padding: 0 10px;
    box-sizing: border-box;
    background-color: var(--neutral-bg);
}

.user-info-small .menu li:not(:last-child) {
    border-bottom: 1px solid var(--neutral-border);
}

.user-info-small .menu li:hover {
    color: var(--secondary-warm-1);
}





/* Mobile styles */
@media screen and (max-width: 600px) {
    .logged-in span,
    .logged-out .img-t {
        display: none;
    }
}

/* Desktop styles */
@media screen and (min-width: 600px) {
    .logged-out .img-t {
    display: none;
}
}


