.background-img-container {
    margin: 0;
    padding: 0;
    display: block;
    position: relative;
    width: 100%;
    height: 550px;
    opacity: 1;
    object-fit: cover;
    object-position: top;
    user-select: none;
}


.background-img {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 600px) {
    .background-img-container {
        height: 280px;
    }
}
@media screen and (min-width: 1000px) {
    .background-img-container {
        object-position: center;
    }
}