.user-info-small {
    display: flex;
    min-width: 50px;
}

.user-info-small span {
    display: flex;
    max-width: 90px;
    height: 100%;
    user-select: none;
    align-items: center;
}

.user-info-small button.login-button {
    background-color: var(--secondary-warm-1);
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    width: fit-content;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    line-height: 30px;
    box-sizing: border-box;
    margin: auto 0;
    outline: none;
    font: inherit;
}


/* Base styles */
.user-info-small .img-t {
    display: flex;
    width: 50px;
    height: 50px;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.user-info-small .img-t img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-color:  var(--neutral-bg);
}



/* Mobile styles */
@media screen and (max-width: 600px) {
    .logged-in span,
    .logged-out .img-t {
        display: none;
    }
}

/* Desktop styles */
@media screen and (min-width: 600px) {
    .logged-out .img-t {
    display: none;
}
}


