.container {
    display: block;
    position: relative;
    width: 100%;
    min-height: 300px;
    padding-bottom: 76px;
    background-color: var(--neutral-bg);
    z-index: 2;
}


.container::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -24px;
    height: 24px;
    background-color: var(--neutral-bg);
    z-index: 3;
    border-top-left-radius: 54px;
    border-top-right-radius: 54px;
}


.container .list {
    margin: 0 auto;
    width: 96%;
    max-width: 800px;
    background-color: var(--neutral-bg);
}


.container .center-text {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--neutral-text);
    text-align: center;
}

.list {
    padding-top: 9px;
    background-color: transparent;
}