.card {
    display: block;
    margin: 18px 0;
    width: 100%;
    height: fit-content;
    background-color: var(--neutral-module);
    border: 1px solid var(--neutral-border);
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px var(--neutral-shadow);
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 8px var(--primary);
}



.card .author-info {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: flex-start;
}

.card .author-info .author-info-text {
    padding-left: 12px;
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card .author-info img {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid var(--neutral-border);
    margin-top: 0;
}


.card .author-info h4 {
    color: var(--secondary-warm-1);
}

.card .author-info p {
    color: var(--neutral-text-secondary);
}



.card img {
    margin-top: 9px;
    width: 100%;
    max-height: 266px;
    object-fit: cover;
    border-radius: 8px;
    overflow: hidden;
}


.card .content {
    margin-top: 9px;
}

.card .content h2 {
    color: var(--neutral-text-main);
}

.card .content p {
    color: var(--neutral-text-primary);
}


.card .detail {
    display: flex;
    width: 100%;
    height: auto;
    padding: 8px 0;
    gap: 16px;
}

.card .detail span {
    display: flex;
    align-items: center;
    height: 24px;
    justify-content: center;
    font-size: 14px;
    user-select: none;
    color: var(--neutral-text-secondary);
    transition: color 0.2s ease;
}

.card .detail span:hover {
    color: var(--neutral-text-primary);
}

.card .detail span svg {
    width: 16px;
    height: 16px;
    margin-right: 4px;
}


@media screen and (max-width: 600px) {
    .card>img {
        height: 150px;
    }
}