.comment-item {
  display: flex;
}

.comment-item .comment-user-avatar {
    width: 40px;
}

.comment-item .comment-user-avatar img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--neutral-module);
    border: 1px solid var(--neutral-border);
}


.comment-item .comment-info {
    flex: 1;
    padding-left: 9px;
}

.comment-item .comment-info .comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.comment-item .comment-info .comment-header .comment-menu {
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.comment-item .comment-info .comment-header .comment-menu:hover {
    background-color: var(--neutral-hover);
}

.comment-item .comment-info .comment-header .comment-menu .menu-icon {
    width: 20px;
    height: 20px;
    color: var(--neutral-text-secondary);
}

.comment-item .comment-info .comment-footer {
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
    width: 100%;
    height: 30px;
    color: var(--neutral-text-secondary);
}

.comment-item .comment-info .comment-footer>span {
    display: block;
    height: 30px;
    line-height: 30px;
}


.comment-item .comment-info .comment-footer span.comment-footer-reply {
    padding: 0 3px;
    cursor: pointer;
    color: var(--primary);
    user-select: none;
}

.comment-item .comment-info .comment-footer span.comment-footer-like {
    display: flex;
    margin-left: auto;
    align-items: center;
    width: 70px;
    height: 100%;
    cursor: pointer;
    user-select: none;
}

.comment-item .comment-info .comment-footer span.comment-footer-like svg {
    display: inline-block;
    margin-left: 3px;
    width: 18px;
    height: 18px;
}

.comment-item .comment-info .comment-footer span.comment-footer-like svg.liked {
    color: var(--primary);
}

.comment-item .comment-info .comment-footer span.comment-footer-dislike {
    display: flex;
    align-items: center;
    width: 30px;
    height: 100%;
    margin-left: 5px;
    cursor: pointer;
    user-select: none;
}

.comment-item .comment-info .comment-footer span.comment-footer-dislike svg {
    display: inline-block;
    width: 18px;
    height: 18px;
}

.comment-item .comment-info .comment-footer span.comment-footer-dislike svg.disliked {
    color: var(--primary);
}

.comment-reply-item {
    font-size: smaller;
}

.comment-reply-item .comment-user-avatar {
    width: 30px;
}

.comment-reply-item .comment-user-avatar img {
    width: 30px;
    height: 30px;
}

.comment-reply-item .comment-header .comment-menu .menu-icon {
    width: 18px;
    height: 18px;
}

.comment-reply-list .reply-total {
    font-size: smaller;
}

.comment-reply-list .reply-total>span{
    padding: 2px;
    user-select: none;
    color: var(--primary);
}