<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkforum.talkforumserver.club.ClubMemberMapper">
    <insert id="addClubMember">
        INSERT INTO club_member (club_id, user_id, role) VALUES(#{clubId}, #{userId}, #{valueId})
    </insert>

    <delete id="deleteClubMember">
        DELETE FROM club_member WHERE club_id = #{clubId} AND user_id = #{userId}
    </delete>

</mapper>
