<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkforum.talkforumserver.mapper.AuthMapper">

<!--    <select id="createToken" resultType="com.talkforum.talkforumserver.common.vo.AuthVO">-->
<!--        SELECT * FROM user WHERE email = #{email} AND password = #{password}-->
<!--    </select>-->


<!--    <update id="removeToken">-->
<!--        UPDATE user_token SET valid = false WHERE token = #{token}-->
<!--    </update>-->

    <select id="getAdminHomeInfo" resultType="com.talkforum.talkforumserver.common.vo.AdminHomeVO">
        SELECT
            (SELECT COUNT(*) FROM `user`) AS totalUsers,
            (SELECT COUNT(*) FROM `post`) AS totalPosts,
            (SELECT COUNT(*) FROM `report`) AS totalReports,
            (SELECT COUNT(*) FROM `post` WHERE status = 'PENDING') AS postsNotHandled,
            (SELECT COUNT(*) FROM `comment` WHERE status = 'PENDING') AS commentsNotHandled,
            (SELECT COUNT(*) FROM `report` WHERE status = 'PENDING') AS reportsNotHandled
    </select>
</mapper>
