<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkforum.talkforumserver.mapper.CommentMapper">
    <select id="getComments" resultType="com.talkforum.talkforumserver.common.entity.Comment">
        SELECT
        c.id, c.post_id, c.user_id, c.root_id, c.parent_id, c.content,
        c.status, c.created_at, c.like_count, c.comment_count
        FROM `comment` c
        INNER JOIN `post` p ON c.post_id = p.id
        WHERE p.status = 'PASS'
        AND c.status = 'PASS'
        AND c.post_id = #{postId}
        AND c.root_id IS NULL
        <if test="cursor != null">AND c.id &lt; #{cursor}</if>
        ORDER BY c.id DESC
        LIMIT #{pageSize}
    </select>

    <select id="getCommentReplies" resultType="com.talkforum.talkforumserver.common.entity.Comment">
        SELECT
        c.id, c.post_id, c.user_id, c.root_id, c.parent_id, c.content,
        c.status, c.created_at, c.like_count, c.comment_count
        FROM `comment` c
        INNER JOIN `post` p ON c.post_id = p.id
        WHERE p.status = 'PASS'
        AND c.status = 'PASS'
        AND c.post_id = #{postId}
        AND c.root_id = #{rootId}
        <if test="cursor != null">AND c.id &lt; #{cursor}</if>
        <if test="parentId != null">AND c.parent_id = #{parentId}</if>
        ORDER BY c.id DESC
        LIMIT #{pageSize}
    </select>


    <select id="getComment" resultType="com.talkforum.talkforumserver.common.entity.Comment">
        SELECT
        c.id, c.post_id, c.user_id, c.root_id, c.parent_id, c.content,
        c.status, c.created_at, c.like_count, c.comment_count
        FROM `comment` c
        WHERE EXISTS (
            SELECT 1 FROM post p
            WHERE p.id = c.post_id AND p.status = 'PASS'
        )
        AND c.status = 'PASS'
        AND c.id = #{commentId}
    </select>

    <select id="countExistComment" resultType="int">
        SELECT COUNT(*)
        FROM `comment` c
        INNER JOIN post p ON c.post_id = p.id
        <if test="parentId != null">INNER JOIN `comment` cp ON cp.id = #{rootId}</if>
        WHERE
        c.status = 'PASS'
        AND c.id = #{rootId}
    </select>

    <select id="checkDeleteComment" resultType="com.talkforum.talkforumserver.common.entity.Comment">
        SELECT user_id FROM `comment` WHERE status = 'PASS' AND id = #{commentId}
    </select>

    <insert id="addCommentWithPostCommentCountIncreased" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        <!--无先检查帖子是否通过，调用者保证-->
        INSERT INTO `comment` (
            post_id, user_id, root_id, parent_id, content, status
        ) VALUES (
            #{postId}, #{userId}, #{rootId}, #{parentId}, #{content}, #{status}
        );

        UPDATE post SET comment_count = comment_count + 1 WHERE id = #{postId};
        <if test="rootId != null">UPDATE `comment` SET comment_count = comment_count + 1 WHERE id = #{rootId};</if>
        <if test="rootId != parentId and parentId != null">UPDATE `comment` SET comment_count = comment_count + 1 WHERE id = #{parentId};</if>
    </insert>

    <select id="adminGetCommentsByPage" resultType="com.talkforum.talkforumserver.common.entity.Comment">
        <bind name="offset" value="(page - 1) * pageSize"></bind>

        SELECT
            c.id, c.post_id, c.user_id, c.root_id, c.parent_id, c.content,
            c.status, c.created_at, c.like_count, c.comment_count
        FROM `comment` c
        <where>
            <if test="status != null">c.status = #{status}</if>
        </where>
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="adminCountComments" resultType="long">
        SELECT COUNT(*) FROM `comment`
        <where>
            <if test="status != null">status = #{status}</if>
        </where>
    </select>

    <update id="auditComment">
        UPDATE `comment` SET status = #{status} WHERE id = #{commentId}
    </update>

    <update id="auditComments">
        UPDATE `comment` SET status = #{status}
        WHERE id IN
        <foreach collection="commentIds" open="(" close=")" separator="," item="commentId">
            #{commentId}
        </foreach>
    </update>

    <select id="adminGetCommentsContent" resultType="com.talkforum.talkforumserver.common.entity.Comment">
        SELECT
            c.id, c.post_id, c.user_id, c.root_id, c.parent_id, c.content,
            c.status, c.created_at, c.like_count, c.comment_count
        FROM `comment` c
        WHERE id IN
        <foreach collection="commentIds" item="commentId" open="(" close=")" separator=",">
            #{commentId}
        </foreach>
    </select>
</mapper>
