<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.talkforum.talkforumserver.mapper.PostMapper">
    <select id="getPost" resultType="com.talkforum.talkforumserver.common.entity.Post">
        SELECT * FROM post WHERE id = #{postId}
    </select>

    <select id="getPostVO" resultType="com.talkforum.talkforumserver.common.vo.PostVO">
        SELECT
            id, title, brief, user_id, content, cover_url,
            club_id, status, is_essence, created_at, updated_at,
            view_count, like_count, comment_count,
            tag1, tag2, tag3
        FROM post
        WHERE id = #{postId} AND status = 'PASS'
    </select>

    <select id="countPassPost" resultType="long">
        SELECT COUNT(*) FROM post WHERE id = #{postId} AND status = 'PASS'
    </select>

    <select id="getPostCheck" resultType="com.talkforum.talkforumserver.common.entity.Post">
        SELECT user_id FROM post WHERE id = #{postId}
    </select>

    <select id="getPosts" resultType="com.talkforum.talkforumserver.common.vo.PostVO">
        SELECT
            id, title, brief, user_id, cover_url,
            club_id, status, is_essence, created_at,
            view_count, like_count, comment_count,
            tag1, tag2, tag3
        FROM post
        <where>
            status = 'PASS'
            <if test="cursor != null">AND id &lt; #{cursor}</if>
            <if test="clubIds != null and clubIds.length > 0">
                AND club_id IN
                <foreach collection="clubIds" item="clubId" open="(" separator="," close=")">
                    #{clubId}
                </foreach>
            </if>
            <if test="userIds != null and userIds.length > 0">
                AND user_id IN
                <foreach collection="userIds" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            <if test="tag != null">
                AND (tag1 = #{tag} OR tag2 = #{tag} OR tag3 = #{tag})</if>
            <if test="isEssence != null">AND is_essence = #{isEssence}</if>
            <if test="keyword != null and keyword.trim() != ''">
                AND (
                    title LIKE CONCAT('%', #{keyword}, '%')
                    OR brief LIKE CONCAT('%', #{keyword}, '%')
                )</if>
        </where>
        ORDER BY id DESC <!-- 按id降序，id越大越新 -->
        LIMIT #{pageSize}
    </select>

    <insert id="addPost" useGeneratedKeys="true" keyProperty="postCommitDTO.id" keyColumn="id">
        INSERT INTO post (
            title, content, user_id, club_id, status, brief, tag1, tag2, tag3, cover_url
        ) VALUES (
            #{postCommitDTO.title}, #{postCommitDTO.content}, #{postCommitDTO.userId},
                  #{postCommitDTO.clubId}, #{status}, #{brief},
                  #{postCommitDTO.tag1}, #{postCommitDTO.tag2}, #{postCommitDTO.tag3},
                  #{coverUrl}
        )
    </insert>

    <update id="updatePost">
        UPDATE post
        <set>
            <if test="postEditDTO.title != null">title = #{postEditDTO.title},</if>
            <if test="postEditDTO.content != null">content = #{postEditDTO.content},</if>
            <if test="postEditDTO.tag1 != null">tag1 = #{postEditDTO.tag1},</if>
            <if test="postEditDTO.tag2 != null">tag2 = #{postEditDTO.tag2},</if>
            <if test="postEditDTO.tag3 != null">tag3 = #{postEditDTO.tag3},</if>
            <if test="status != null">status = #{status},</if>
            updated_at = NOW(),
            brief = #{brief},
            cover_url = #{coverUrl}
        </set>
        WHERE id = #{postEditDTO.id}
    </update>

    <update id="deletePost">
        UPDATE post SET status = 'DELETED' WHERE id = #{postId}
    </update>

    <update id="auditPost">
        UPDATE post SET status = #{status}, updated_at = NOW() WHERE id = #{postId}
    </update>

    <update id="essencePost">
        UPDATE post SET is_essence = #{isEssence}, updated_at = NOW() WHERE id = #{postId}
    </update>

    <select id="adminGetPosts" resultType="com.talkforum.talkforumserver.common.vo.PostVO">
        <bind name="offset" value="(page - 1) * pageSize"></bind>
        <!--这样就可以计算offset了-->
        SELECT
            id, title, brief, user_id,
            club_id, status, is_essence, created_at,
            view_count, like_count, comment_count,
            tag1, tag2, tag3
        FROM post
        <where>
            <if test="status != null">AND status = #{status}</if>
            <if test="clubIds != null and clubIds.length > 0">
                AND club_id IN
                <foreach collection="clubIds" item="clubId" open="(" separator="," close=")">
                    #{clubId}
                </foreach>
            </if>
            <if test="userIds != null and userIds.length > 0">
                AND user_id IN
                <foreach collection="userIds" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
            <if test="tag != null">
                AND (tag1 = #{tag} OR tag2 = #{tag} OR tag3 = #{tag})
            </if>
        </where>
        ORDER BY id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="adminCountPosts"  resultType="long">
        SELECT COUNT(*) FROM post
        <where>
            <if test="status != null">AND status = #{status}</if>
            <if test="clubIds != null and clubIds.length > 0">
                AND club_id IN
                <foreach collection="clubIds" item="clubId" open="(" separator="," close=")">
                    #{clubId}
                </foreach>
            </if>
            <if test="userIds != null and userIds.length > 0">
                AND user_id IN
                <foreach collection="userIds" item="userId" open="(" separator="," close=")">
                    #{userId}
                </foreach>
            </if>
        </where>
    </select>

    <select id="getContent" resultType="String">
        SELECT content FROM post WHERE id = #{postId}
    </select>


    <update id="increaseViewCount">
        UPDATE post SET view_count = view_count + 1 WHERE id = #{postId}
    </update>
</mapper>
