
spring:
  application:
    name: TalkForum

  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://localhost:3306/TalkForum?allowMultiQueries=true # allowMultiQueries=true 允许执行多条SQL语句
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 16729438

  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 10MB

  jackson:
    # 1. 禁止返回"数字时间戳"（确保返回字符串格式）
    serialization:
      write-dates-as-timestamps: false
    # 2. 后端统一用UTC时区（避免后端时区干扰，前端按自己时区转）
    time-zone: UTC
    # 3. 配置日期格式（带UTC时区+毫秒，前端易解析）
    date-format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX
    # 4. 适配Java 8+的日期类型（如LocalDateTime、OffsetDateTime）
    java-time-format: yyyy-MM-dd'T'HH:mm:ss.SSSXXX

  data:
    redis:
      host: localhost
      port: 6379
      password: 16729438
      lettuce:
        #只有自动配置连接池的依赖,连接池才会生效
        pool:
          max-active: 8 #最大连接
          max-idle: 8 #最大空闲连接
          min-idle: 0 #最小空闲连接
          max-wait: 100 #连接等待时间


mybatis:
  configuration:
    map-underscore-to-camel-case: true
    # 打印驼峰映射过程
#    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

jwt:
  secret-key: "XyvhaihdoehEF+gaosfcotynyogmeltoehsshlrybghsbschsb="
  expire: 5400000  # 1.5 hr

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.talkforum.talkforumserver.controller  # 要写到controller包那里
  default-flat-param-object: false
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  enhancement:
    enable: true # 这个是注解生效的关键，必须开启
  setting:
    language: zh_cn