.space-header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    padding: 0 9px;
    width: 100%;
    height: 40px;
    align-items: center;
    z-index: 1024;
}

.space-header svg {
    display: block;
    width: 30px;
    height: 30px;
    color: var(--neutral-text-secondary);
}

.space-header h2.space-title {
    flex: 1;
    text-align: center;
    font-weight: normal;
}