* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-container {
    padding-top: 50px;
    width: 100%;
    height: 100vh;
}

.admin-container .admin-header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0 9px;
    height: 50px;
    align-items: center;
    font-size: large;
    background-color: var(--neutral-module);
    box-shadow: 0 1px 1px var(--neutral-shadow);
    user-select: none;
    z-index: 666;
}

.admin-container .admin-header img {
    display: block;
    margin: 0 9px;
    width: 30px;
    height: 30px;
}

.admin-container .admin-header svg {
    display: block;
    width: 30px;
    height: 30px;
}

.admin-container .admin-header .admin-menu-toggle svg.menu-toggle {
    display: none;
}

.admin-container .admin-view {
    position: relative;
    display: flex;
    width: 100%;
    height: calc(100vh - 50px);
}

.admin-container .admin-view ul.admin-menu {
    display: block;
    width: 200px;
    height: 100%;
    list-style: none;
    background-color: var(--primary);
    overflow-y: hidden;
    box-shadow: 0 1px 1px var(--neutral-shadow);
    user-select: none;
}

.admin-container .admin-view .admin-menu-cover {
    position: static;
    z-index: 66;
}

.admin-container .admin-view ul.admin-menu li {
    display: flex;
    padding: 9px;
    width: 100%;
    height: 40px;
    align-items: center;
    cursor: pointer;
}

.admin-container .admin-view ul.admin-menu li:hover {
    background-color: var(--secondary-cool);
    color: var(--neutral-module);
}

.admin-container .admin-view ul.admin-menu li svg {
    display: block;
    width: 20px;
    height: 20px;
}

.admin-container .admin-view ul.admin-menu li span {
    display: block;
    flex: 1;
}

.admin-container .admin-view .admin-content {
    position: relative;
    padding: 9px;
    flex: 1;
    overflow-y: auto;
}

@media screen and (max-width: 800px) {
    .admin-container .admin-header .admin-menu-toggle svg.menu-toggle {
        display: block;
    }

    .admin-container .admin-view .admin-menu-cover.menu-open {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(5px);
    }

    .admin-container .admin-view .admin-menu-cover {
        transition: all 0.7s ease;
    }

    .admin-container .admin-view .admin-menu-cover.menu-open ul.admin-menu {
        position: absolute;
        top: 0;
        left: 0;
        animation: menu-movement 0.7s ease;
    }

    .admin-container .admin-view .admin-menu-cover.menu-close ul.admin-menu {
        position: absolute;
        top: 0;
        left: -200px;
        animation: menu-movement 0.7s ease reverse;
    }
}

@keyframes menu-movement {
    0% {
        opacity: 0;
        transform: translateX(-200px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
