.functions {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 65px 0 9px 0;
    justify-content: space-evenly;
    user-select: none;
}

.function-card {
    margin: 0 9px;
    width: 50%;
    padding: 0 9px;
    height: 130px;
    border-radius: 18px;
    cursor: pointer;
}


.function-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 0 10px var(--primary);
}

.function-card:nth-child(1) {
    background-color: var(--secondary-warm-1);
}


.function-card:nth-child(2) {
    background-color: var(--secondary-warm-2);
}

.followed-clubs {
    margin: 18px auto;
    padding: 9px;
    width: 100%;
    max-width: 800px;
}


.followed-clubs .club-list {
    display: flex;
    width: 100%;
    height: 130px;
    overflow-x: auto;
    overflow-y: hidden;
}


.followed-clubs .club-list .club-info {
    width: 70px;
    height: 110px;
    margin-right: 9px;
    text-align: center;
}

.followed-clubs .club-list .club-info img {
    display: block;
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 100%;
    border: 1px solid var(--neutral-border);
}


.followed-clubs .center-text {
    display: block;
    margin-top: 9px;
    width: 100%;
    text-align: center;
}